.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 540px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 1300px;
    margin-top: 10px;
}
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.table tr:hover {
    background-color: #ddd;
}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #868686;
    color: white;
}