$bg-gradient: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
$bg-color: #f7f7f7;
$sizes: (
  "xs": 375px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
$light-green: #96c22b;
$green: #47b247;
$black: #313334;
$grey: #797c80;
$light-grey: #dae0e6;

%main-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
@media all and (max-width: 900px) {
  %main-font {
    font-size: 12px;
    line-height: 14px;
  }
}

.fe-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 66px;
  h1 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #313334;
  }
}
.block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 960px;
  height: 408px;
  left: 369px;
  background: url("../../assets/images/im1.png");
  background-size: cover;
  border: 1px solid #dae0e5;
  box-sizing: border-box;
  border-radius: 18px;
  margin: 40px;
  padding: 46px;
  .logo-wrapper {
    height: 73px;
    display: flex;
    align-items: center;
  }
  .logo {
    height: inherit;
  }
  .logo-text {
    margin-left: 16px;
  }
  .block1-text {
    @extend %main-font;
    width: 262px;
    height: 141px;
    left: 415px;
    top: 261px;
    color: #2e3134;
  }
}
@media all and (max-width: 900px) {
  .block1 {
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-radius: 0;
    background-position: center center;
    padding: 16px;
    margin: 0 0 30px 0;
    .logo-wrapper {
      height: 32px;
      .logo-text {
        height: 23px;
        margin-left: 7px;
      }
    }
    .block1-text {
      max-width: 50%;
      max-height: 50%;
    }
  }
}

.block2 {
  display: flex;
  .block2-item {
    @extend %main-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #747474;
    cursor: pointer;
    .shadow {
      width: 314px;
      height: 619px;
      border-radius: 18px;
      margin: 0 83px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $bg-gradient;
      box-shadow: 0px 25px 100px #48ae4b;
      .cam-bg {
        position: absolute;
        width: 390px;
        height: 619px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $bg-gradient;
        border-radius: 18px;
        div {
          background-position: center;
          background-size: 40%;
          background-repeat: no-repeat;
          padding-top: 166%;
          width: 100%;
        }
      }
    }
    span {
      margin-top: 15px;
    }
  }
}
@media all and (max-width: 900px) {
  .block2 {
    .block2-item {
      margin: 0 18px;
      .shadow {
        width: 100%;
        height: auto;
        margin: 0;
        box-shadow: none;
        .cam-bg {
          position: relative;
          width: 40%;
          height: auto;
          min-width: 120px;
          div {
            background-position: center;
            background-size: 40%;
            background-repeat: no-repeat;
            padding-top: 166%;
            width: 100%;
          }
        }
      }
      > {
        span {
          display: none;
        }
      }
    }
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 5;
  &.show {
    display: flex;
  }
  &.hide {
    display: none;
  }
  .popup-bg-l {
    background-repeat: no-repeat;
    background-position: 0 center;
    justify-content: flex-end;
  }
  .popup-bg-r {
    background-repeat: no-repeat;
    background-position: 100% center;
    justify-content: flex-start;
  }
  .popup-container {
    width: 960px;
    height: 698px;
    display: flex;
    overflow: auto;
    align-items: center;
    z-index: 150;
    button {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: none;
      background: $bg-gradient;
      color: #ffffff;
      font-size: 40px;
      margin: 40px;
      cursor: pointer;
      outline: none;
    }
    .popup-content-wrapper {
      width: 720px;
      height: 698px;
      background: $bg-gradient;
      border-radius: 18px;
      padding: 33px 31px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .popup-grid-item {
        float: left;
        width: 311px;
        height: 196px;
        display: flex;
        margin: 9px 7px;
        background: #ffffff;
        border-radius: 18px;
        justify-content: stretch;
        align-items: stretch;
        > {
          div {
            display: flex;
            flex: 1;
            align-items: stretch;
            div {
              width: 126px;
              height: 126px;
              border-radius: 50%;
              margin: 35px 18px;
              background-repeat: no-repeat;
              background-position: center;
              box-shadow: 0px 10px 40px #45ae4d;
            }
            span {
              margin-right: 18px;
              display: flex;
              align-items: center;
              flex: 1;
              color: #313334;
              font-family: Roboto;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 23px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 900px) {
  .popup {
    height: auto;
    position: absolute;
    .popup-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column-reverse;
      overflow: auto;
      align-items: center;
      .popup-content-wrapper {
        width: 100%;
        height: auto;
      }
    }
    .popup-bg-r {
      flex-direction: column;
    }
  }
}
.block3 {
  width: 960px;
  height: 300px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h1 {
    margin-bottom: 40px;
  }
  .block3-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    > {
      div {
        @extend %main-font;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 214px;
        height: 214px;
        margin: 0 18px;
        box-shadow: 0px 50px 50px -30px #48ae4b;
        background: $bg-gradient;
        border-radius: 18px;
        text-align: center;
        color: #ffffff;
        > img {
          max-width: 160px;
          max-height: 120px;
        }
      }
      > div {
        width: 214px;
        height: 214px;
        background: $bg-gradient;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      // }
    }
  }
}
@media all and (max-width: 900px) {
  .block3 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    h1 {
      margin: 26px 0 26px 0;
    }
    .block3-items-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: auto auto;
      gap: 25px 15px;
      grid-template-areas:
        ". ."
        ". .";
      div {
        width: auto;
        height: auto;
        margin: 0;
      }
      > {
        div {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &.normal {
    input {
      border: 3px solid #dae0e5;
      color: #363636;
      box-shadow: none;
    }
    label {
      color: #dae0e5;
    }
  }
  &.input {
    input {
      color: #363636;
      border: 3px solid #47b247;
      box-shadow: 0px 0px 24px rgba(0, 152, 16, 0.25), 0px 24px 24px rgba(0, 152, 16, 0.25);
    }
    label {
      color: #dae0e5;
    }
  }
  &.filled {
    input {
      border: 4px solid #47b247;
      color: #363636;
      box-shadow: none;
    }
    label {
      color: #dae0e5;
    }
  }
  &.error {
    input {
      border: 4px solid #bf4444;
      color: #363636;
      box-shadow: none;
    }
    label {
      color: #363636;
    }
  }
  input {
    width: 276px;
    height: 60px;
    border-radius: 4px;
    padding: 9px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    outline: none;
  }
  label {
    width: 350px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }
}
.block4 {
  width: 872px;
  height: 332px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 18px;
  background: $bg-color;
  box-shadow: 0px 25px 60px -15px #48ae4b;
  span {
    margin: 0 30px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 33px;
    text-align: center;
    color: #313334;
    &.success {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #313334;
    }
  }
  button {
    display: flex;
    background: #72bf44;
    padding: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 15px 0px -10px #009810;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;

    &:active {
      background: #47b247;
    }
    &:disabled {
      background: #dae0e5;
      box-shadow: none;
    }

    > span {
      margin: 0 10px;
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
@media all and (max-width: 900px) {
  .block4 {
    width: 100%;
  }
}
@media all and (max-width: 900px) {
  .block5 {
    display: none;
  }
}
