@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./Roboto.ttf) format('opentype');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), url(./RobotoCondensed.ttf) format('opentype');
}