.drawer {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: #f1f1f1;
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: #818181;
    cursor: pointer;
    &:hover {
      color: #f1f1f1;
    }
  }
}

.closed {
  width: 0;
}

.opened {
  width: 250px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.opacityWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 560px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.menubutton {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 2em;
  color: #818181;
  width: 35px;
  height: 33px;
  cursor: pointer;
  display: block;
  background-color: #111;
  border-radius: 2px;
  text-align: center;
  z-index: 100;

  &:hover {
    color: #f1f1f1;
  }
}

@media screen and (max-height: 450px) {
  .drawer {
    padding-top: 15px;

    button {
      background: none;
      border: none;
      font-size: 18px;
    }
  }
}