.slider {
    width: 560px;
    height: 280px;
    overflow: hidden;
}
.slider-item {
    position: absolute;
    width: 560px;
    height: 240px;
    background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
    border-radius: 18px;
    display: flex;
    align-items: flex-start;
    flex: 1;
    > .avatar-border {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        background-image: url("../../assets/images/avatar-border.svg");
        margin: 20px;
        > img {
            object-fit: cover;
            width: 78px;
            height: 78px;
            border-radius: 50%;
        }
    }
    .slider-item-text-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        .slider-item-name {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            margin-top: 60px;
        }
    }
    span {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        margin-right: 32px;
    }
    &.inactive {
        transform: scale(0.7) translate(0, -30px);
        z-index: 0;
        opacity: 0.5;
        animation: scaledn 1s ease-in;
    }
    &.active {
        transform: scale(1) translate(0, 30px);
        z-index: 1;
        animation: scaleup 1s ease-out;
    }
    .carousel-button {
        bottom: 0;
        left: 46%;
        position: absolute;
        color: #FFFFFF;
        font-size: 48px;
        cursor: pointer;
    }
}

@keyframes scaleup {
    0% {transform:scale(0.7) translate(0, -30px); z-index: 0; opacity: 0;}
    50% {z-index: 1; opacity: 1;}
    100% {transform:scale(1) translate(0, 30px)}
}
@keyframes scaledn {
    0% {transform:scale(1) translate(0, 30px); z-index: 1; opacity: 1;}
    50% {z-index: 0; opacity: 0;}
    100% {transform:scale(0.7) translate(0, -30px)}
}
