html {
  min-width: 100%;
  min-height: 100%;
  background: #f7f7f7;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media all and (max-width:900px) {
  html{
    max-width: 100%;
    overflow-x: hidden;
  }
}